START=yes
NFILES=131072
MEMLOCK=82000
DAEMON_OPTS="-a :{{ varnish_port}} \
             -T localhost:6082 \
             -f /etc/varnish/default.vcl \
             -S /etc/varnish/secret \
             -s malloc,{{ varnish_allocated_memory }}m"
